In [3]:
from pytrendsdaily import getDailyData

data = getDailyData('AMZN', 2012, 2019)

AMZN:2012-01-01 2012-01-31
AMZN:2012-02-01 2012-02-29
AMZN:2012-03-01 2012-03-31
AMZN:2012-04-01 2012-04-30
AMZN:2012-05-01 2012-05-31
AMZN:2012-06-01 2012-06-30
AMZN:2012-07-01 2012-07-31
AMZN:2012-08-01 2012-08-31
AMZN:2012-09-01 2012-09-30
AMZN:2012-10-01 2012-10-31
AMZN:2012-11-01 2012-11-30
AMZN:2012-12-01 2012-12-31
AMZN:2013-01-01 2013-01-31
AMZN:2013-02-01 2013-02-28
AMZN:2013-03-01 2013-03-31
AMZN:2013-04-01 2013-04-30
AMZN:2013-05-01 2013-05-31
AMZN:2013-06-01 2013-06-30
AMZN:2013-07-01 2013-07-31
AMZN:2013-08-01 2013-08-31
AMZN:2013-09-01 2013-09-30
AMZN:2013-10-01 2013-10-31
AMZN:2013-11-01 2013-11-30
AMZN:2013-12-01 2013-12-31
AMZN:2014-01-01 2014-01-31
AMZN:2014-02-01 2014-02-28
AMZN:2014-03-01 2014-03-31
AMZN:2014-04-01 2014-04-30
AMZN:2014-05-01 2014-05-31
AMZN:2014-06-01 2014-06-30
AMZN:2014-07-01 2014-07-31
AMZN:2014-08-01 2014-08-31
AMZN:2014-09-01 2014-09-30
AMZN:2014-10-01 2014-10-31
AMZN:2014-11-01 2014-11-30
AMZN:2014-12-01 2014-12-31
AMZN:2015-01-01 2015-01-31
AMZN:2015-02-01 2015-02-28
AMZN:2015-03-01 2015-03-31
AMZN:2015-04-01 2015-04-30
AMZN:2015-05-01 2015-05-31
AMZN:2015-06-01 2015-06-30
AMZN:2015-07-01 2015-07-31
AMZN:2015-08-01 2015-08-31
AMZN:2015-09-01 2015-09-30
AMZN:2015-10-01 2015-10-31
AMZN:2015-11-01 2015-11-30
AMZN:2015-12-01 2015-12-31
AMZN:2016-01-01 2016-01-31
AMZN:2016-02-01 2016-02-29
AMZN:2016-03-01 2016-03-31
AMZN:2016-04-01 2016-04-30
AMZN:2016-05-01 2016-05-31
AMZN:2016-06-01 2016-06-30
AMZN:2016-07-01 2016-07-31
AMZN:2016-08-01 2016-08-31
AMZN:2016-09-01 2016-09-30
AMZN:2016-10-01 2016-10-31
AMZN:2016-11-01 2016-11-30
AMZN:2016-12-01 2016-12-31
AMZN:2017-01-01 2017-01-31
AMZN:2017-02-01 2017-02-28
AMZN:2017-03-01 2017-03-31
AMZN:2017-04-01 2017-04-30
AMZN:2017-05-01 2017-05-31
AMZN:2017-06-01 2017-06-30
AMZN:2017-07-01 2017-07-31
AMZN:2017-08-01 2017-08-31
AMZN:2017-09-01 2017-09-30
AMZN:2017-10-01 2017-10-31
AMZN:2017-11-01 2017-11-30
AMZN:2017-12-01 2017-12-31
AMZN:2018-01-01 2018-01-31
AMZN:2018-02-01 2018-02-28
AMZN:2018-03-01 2018-03-31
AMZN:2018-04-01 2018-04-30
AMZN:2018-05-01 2018-05-31
AMZN:2018-06-01 2018-06-30
AMZN:2018-07-01 2018-07-31
AMZN:2018-08-01 2018-08-31
AMZN:2018-09-01 2018-09-30
AMZN:2018-10-01 2018-10-31
AMZN:2018-11-01 2018-11-30
AMZN:2018-12-01 2018-12-31
AMZN:2019-01-01 2019-01-31
AMZN:2019-02-01 2019-02-28
AMZN:2019-03-01 2019-03-31
AMZN:2019-04-01 2019-04-30
AMZN:2019-05-01 2019-05-31
AMZN:2019-06-01 2019-06-30
AMZN:2019-07-01 2019-07-31
AMZN:2019-08-01 2019-08-31
AMZN:2019-09-01 2019-09-30
AMZN:2019-10-01 2019-10-31
AMZN:2019-11-01 2019-11-30
AMZN:2019-12-01 2019-12-31

In [5]:
del data['isPartial_unscaled']
del data['isPartial_monthly']

            AMZN_unscaled  AMZN_monthly  scale   AMZN
date
2012-01-01              3           7.0   0.07   0.21
2012-01-02             19           7.0   0.07   1.33
2012-01-03             28           7.0   0.07   1.96
2012-01-04             28           7.0   0.07   1.96
2012-01-05             31           7.0   0.07   2.17
...                   ...           ...    ...    ...
2019-11-30             25          32.0   0.32   8.00
2019-12-01             18          34.0   0.34   6.12
2019-12-02            100          34.0   0.34  34.00
2019-12-03             93          34.0   0.34  31.62
2019-12-04             90          34.0   0.34  30.60

[2895 rows x 4 columns]

In [6]:
data.describe()

       AMZN_unscaled  AMZN_monthly        scale         AMZN
count    2895.000000   2895.000000  2895.000000  2895.000000
mean       40.854577     26.286701     0.262867    10.646933
std        28.136206     22.661736     0.226617    12.969767
min         0.000000      4.000000     0.040000     0.000000
25%        16.000000      9.000000     0.090000     2.280000
50%        34.000000     16.000000     0.160000     5.320000
75%        64.000000     38.000000     0.380000    13.050000
max       100.000000    100.000000     1.000000   100.000000

In [9]:
data.to_csv('trends.csv', encoding='utf-8', index=False)